<div class="chartContainer mat-elevation-z4">
  <div class="chartPadding">
    <ngx-charts-pie-chart
    [legend]="pieChartBean.legend"
    [legendTitle]="pieChartBean.legendTitle"
    [legendPosition]="pieChartBean.legendPosition"
    [labels]= "pieChartBean.labels"
    [explodeSlices]="pieChartBean.explodeSlices"
    [gradient]="pieChartBean.gradient"
    [results]="pieChartBean.results"
    [doughnut]="pieChartBean.doughnut"
    [scheme]="colorScheme"
    (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>