
.grid{
  position: relative;
}

.item{
  position: absolute;
  margin: 25px; 
  width: fit-content;
  height: fit-content;

}

.item.muuri-item-dragging {
z-index: 3;
}
.item.muuri-item-releasing {
z-index: 2;
}
.item.muuri-item-hidden {
z-index: 0;
}
.item-content {
position: relative;
width: fit-content;
height: fit-content;
}

